*.o
*.bundle
*.log
.DS_Store
swig/Makefile
ruby/apriori/test/results.txt
.config
examples/test_data/accidents.dat
examples/test_data/chess.dat
examples/test_data/kosarak.dat
examples/test_data/retail.dat
pkg/apriori-*
